# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
.build/
dist/
build/
*.egg-info/

# Project artifacts
models/
runs/
data/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/
